*.o
*.d
*.out
*.a
*.log
*.replace
*_shrubbery

megaphone
phonebook
account
zombie
address
war
sed
harl
harlFilter
fixed
bsp
trap
animals
materia
bureaucrat
converter
serializer
identifier
templates
ex00
!ex00/
ex01
!ex01/
ex02
!ex02/
btc
RPN
PmergeMe
